.iPhone15{
    background-image: url(../../../assets/images/home/white-iphone-15.jpg);
    background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
	text-align: center;
    height: 500px;
  
}
.iphone-text{
 margin-top: 100px;
 /* color: black; */
}